textarea {
    padding: 12px 20px;
    width: 250px;

    font-size: 12px;
    resize: none;
    border-color: Transparent;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: antiquewhite
}

.messageBox{
  border: 2px solid blue;
  width: 300px;
  height: 110px;
  border-radius: 3px;
}

.counter{
  margin-right: 5px;
  float:right;
}

.well{
    margin-bottom: 0px;
}

.container-1{
    display: flex;
    align-items: stretch;
}

.container-1, html, body{
    height:100%;
}


.box-1{
    border: 1px #ccc solid;
    flex: 1;
    background-color: #ffafaa;
    align-items: stretch;
}

.box-2{
    border: 1px #ccc solid;
    flex:7;
    background-color: antiquewhite;
    align-items: stretch;
}

.container{
    border: 1px #ccc solid;
    padding-top: 3em;
    padding-bottom: 5em;
    margin-top: 2em;
}


/*.content{*/
/*margin-left:500px;*/
  /*position: absolute;*/

  /*background-color: beige;*/

/*}*/